/* ==|====================
   Module/label

   Ici on  applique les styte de base qui est réutilisable via
   un extends.
   ensuite si l'ont à besion de créer un style spécifique on
   ajoute seulement un modifieur qui prend la class de base +
   les styles qui sont en plus mais sans avoir à supprimer de styles.
   -- dans cette exemple on applique une marge différente.
   ======================= */


// label label__size--color


.label {


	@include e(large) {

		@include m(dark) {
			@extend %label;
			color: $gray;
			border-color:$blue;
			font-size: 11px;
		}

		@include m(light) {
			@extend %label;
			color: $blue--light;
			border-color:$blue;
			font-size: 11px;
		}


	}



	@include e(small) {

		@include m(dark) {
			@extend %label;
			color: $blue--light;
			border-color:$blue;
			font-size: 10px;

		}

		@include m(light) {
			@extend %label;
			color: $blue--light;
			border-color:$blue;
			font-size: 8px;
		}



	}

	@include e(skills) {


		@include m(light) {
			border:1px solid #dbdbda;
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 9%, #f7f8f8 11%, #f5f5f5 95%, #9fa1a3 100%, #f5f5f5 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 9%,#f7f8f8 11%,#f5f5f5 95%,#9fa1a3 100%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 9%,#f7f8f8 11%,#f5f5f5 95%,#9fa1a3 100%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
			border-radius: 4px;
			text-shadow: 0 1px 1px #fff;
		    color:#3f3f3f;
    		line-height: 12px;
		    padding: 5px 10px 0 8px;
		    font-size: 10px;
		    font-family:$font-family--primary--bold;
		    height: 25px;
		}



	}


}
